<div class="card">
     <h5 class="card-header">Products {{count}}</h5>  
  <div  style="overflow-y:scroll;overflow-x: hidden;max-height: 600px;">
     <i *ngIf="loader" class="fa fa-circle-o-notch fa-spin"style="font-size:50px;margin: 40px 0px 10px 511px;"></i>
  <div class="row">
    <div class="col" *ngFor="let product of data">
      <a href="#" routerLink="/product/{{product.productId}}">
      <div class="card " style="width:15rem;margin: 5px" >
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{product.productId}}</h6>
         <p class="price">&euro; {{product.price}}</p>
       </div>
      </div>
    </a>
    </div>
  </div>
  <div>
</div>