<div class="card">
  <h5 class="card-header">
    <button type="button" class="btn btn-primary btn-sm">
          <span class="fa fa-arrow-left" routerLink="/products"></span>
    </button>
  </h5>
  <div>
   <h5 *ngIf="loader">&nbsp; Loading...</h5>
  </div>
  <div class="card-body" *ngIf="product!=null">
     
    <h5 class="card-title">{{product.name}} <span class="card-subtitle mb-2 text-muted">({{product.productId}})</span></h5>
    <p>
        <span  class="badge badge-success">3.7 <i class="fa fa-star fa-sm"></i></span>
        <span style="margin-left: 5px;" class="text-muted">29 reviews</span>
    </p>
    <h4><span style="float:left">&euro; {{product.price}}</span></h4><br/><br/>
    <p class="card-text"><i>{{product.shortDescription}}</i></p>
    <hr/>
    <p class="card-text">
      <span  class="badge badge-info"> {{product.category}}</span>&nbsp;
      <span class="badge badge-warning"> {{product.weight}}<i>{{product.weightUnit}}</i></span>&nbsp;
      <span  class="badge badge-primary"> 
        {{product.dimensionWidth}} <i>(w)</i> 
        <i class="fa fa-times"></i>
        {{product.dimensionHeight}}<i>(h)</i>
        <i class="fa fa-times"></i>
        {{product.dimensionDepth}} <i>(d)</i>
        {{product.dimensionUnit}}
      </span>
    </p>
   <p style="color:green" class="card-text" *ngIf="stocks!=null">
     <b>{{stocks.quantity}}</b> <i class="text-muted"> available in the stock</i>
   </p>
  </div>
</div>
<div class="card">
  <h5 class="card-header">
    <h5 style="float: left">Reviews and Ratings</h5>
    <button (click)="getAllCustomers()" style="float: right" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
          Write a review
    </button>
  </h5>
  <div>
   <!--<h5 *ngIf="loader">Loading...</h5>-->
  </div>
  <div class="card-body"  *ngIf="productReviews!=null">
     <!--Review list goes here-->
      <div>
        <h5 *ngIf="review_list_loader">&nbsp; Loading...</h5>
      </div>
      <div class="row" *ngFor="let review of productReviews">
         <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h6">
                            <a href="#"><b>{{review.customer.firstName +" "+review.customer.lastName}}</b></a>
                            made a review.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>{{review.reviewDescription}}</p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>12
                        </a>
                    </div>
                </div>
            </div>
         </div>
     </div>


  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Write a review</h4>
      </div>
       <h5 *ngIf="review_loader">&nbsp;Loading...</h5>
        
      <form (ngSubmit)="postReviewForm()" *ngIf="customers!=null && product!=null && review_loader!=true">
      <div class="modal-body">
         <div style="margin-bottom: 30px;" class="form-group"> 
              <label style="font-weight: bold;margin-right: 10px"  for="sel1"><i>Customer name: </i></label>
              <input type="hidden" name="customerId" value="{{randomCustomerId}}" [(ngModel)]="customerId"/>
              <span class="badge badge-warning"><i>{{randomCustomerName}}</i></span>
              <input type="hidden" name="productId" value="{{product.productId}}"  [(ngModel)]="productId" />
            <hr>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;margin-right: 10px"><i>Write your review </i></label>
             <textarea name="description" class="form-control" style="height: 250px;" [(ngModel)]="description"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <p style="font-weight: bold; color: green; float: left">
          {{review_created_message}}
        </p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>